body, html, #root {
  font-family: Roboto, Helvetica, sans-serif;
}

html {
  font-size: 24px;
}


h2 {
  font-size: 1.5rem;
}

.App {
  padding: 0 5% 5% 5%;
  background-color: #f2957b;
  color: white;
}

.App-boxes {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1020px) {
  .App-boxes {
    align-items: center;
    flex-direction: column;
  }
}