.header {
  width: 100%;
  height: 100px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #090a38;
  margin-bottom: 30px;
}

h1 {
  padding: .77rem 5px;
  margin-right: 5px;
  background-color: #090a38;
  text-align: center;
  font-size: 1.4rem;
  color: white;
}

.icon {
  width: 60px;
  height: 60px;
  fill: white;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 30px;
}

.icon:hover {
  cursor: pointer;
  fill: pink;
}